# accuracies for different datasets

In [2]:
import pandas as pd

In [7]:
df1 = pd.read_csv('IRIS_ACC.csv')
df2 = pd.read_csv('df_diabetic.csv')
df3 = pd.read_csv('df_loan.csv')
df4 = pd.read_csv('df_heart.csv')
df5 = pd.read_csv('df_wine.csv')

In [8]:
result = pd.concat([df1,df2,df3,df4,df5], axis=0, ignore_index=True)
result

           Unnamed: 0  train_acc  Test_acc
0       Logistic_IRIS   0.926829  0.985294
1            KNN_IRIS   0.946429  0.973684
2             DT_IRIS   0.964286  0.921053
3             RF_IRIS   0.982143  0.921053
4   Logistic_diabetic   0.763636  0.740000
5        KNN_diabetic   0.842667  0.780000
6         DT_diabetic   0.802667  0.804000
7         RF_diabetic   0.809333  0.760000
8       Logistic_Loan   0.696121  0.736842
9            KNN_Loan   0.814655  0.760526
10            DT_Loan   0.721983  0.721053
11            RF_Loan   0.866379  0.781579
12     Logistic_Heart   0.872928  0.825503
13          KNN_Heart   0.911602  0.798658
14           DT_Heart   0.922652  0.758389
15           RF_Heart   0.928177  0.778523
16      Logistic_wine   1.000000  0.989583
17           KNN_wine   0.948718  0.979167
18            DT_wine   0.965812  0.895833
19            RF_wine   0.974359  0.979167